@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
	box-sizing: border-box;
	min-width: 100%;
	max-width: 100%;
	display: flex;
	flex-flow: column;
	justify-content: center;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #DEDEDE;
}
a {
	color: #80FFFF;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h3, h4, h5, h6 {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
.skip-link {
	position: absolute;
	top: -60px;
	left: 0;
	background: rgb(53, 164, 94);
	padding: 8px;
	z-index: 100;
}
.skip-link:focus {
	top:0;
	color: rgb(135, 45, 34);
	border-radius: 10px;
}
#maincontent {
	background-color: #003366;
	max-height: 100%;
}
#footer {
	background-color: #003366;
	color: #C4C4C4;
	font-size: 8pt;
	letter-spacing: 1px;
	padding: 25px;
	text-align: center;
	text-transform: uppercase;
	border-radius: 5px;
}
/* ====================== Navigation ====================== */
nav {
	max-width: 100%;
	height: 80px;
	background-color: black;
	text-align: center;
	border-radius: 5px;
}
nav h1 {
	margin: auto;
}
nav h1 a {
	color: #fff;
	font-size: 37pt;
	font-weight: 200;
	letter-spacing: 10px;
	font-family: 'Indie Flower', cursive;
}
#breadcrumb {
	padding: 10px 7.5px 16px;
	list-style: none;
	background-color: #800000;
	font-size: 17px;
	margin: 0;
	/* width: calc(50% - 80px); */
}

/* Display list items side by side */
#breadcrumb li {
	display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
	padding: 8px;
	color: #80FFFF;
	content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
	color: #80FFFF;
	text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
	color: white;
	text-decoration: underline;
}
/* ====================== Map ====================== */
#map-container {
	max-width: 100%;
}
#map {
	border-radius: 5px;
	height: 400px;
	max-width: 100%;
	background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
	max-width: 100%;
	background-color: #003366;
	text-align: center;
	border-radius: 5px;
}
.filter-options label {
	color: white;
	font-size: 1.5rem;
	font-weight: normal;
	line-height: 1;
	margin: 0 20px;
	display: block;
}
.filter-options select {
	background-color: white;
	border: 1px solid #fff;
	font-family: Arial,sans-serif;
	font-size: 11pt;
	height: 35px;
	letter-spacing: 0;
	margin: 10px;
	padding: 0 10px;
	width: 150px;
	border-radius: 5px;
}
.filter-options:focus {
	position: relative;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
	background-color: #800000;
	list-style: outside none none;
	margin: 0;
	padding: 0px 0px 60px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
#restaurants-list li {
	background-color: #C7C7C7;
	border: 2px solid #C7C7C7;
	font-family: Arial,sans-serif;
	height: 396px;
	padding: 0 25px 25px;
	text-align: left;
	width: 270px;
	border-radius: 15px;
	margin-top: 10px;
}
#restaurants-list .restaurant-img {
	background-color: #ccc;
	display: block;
	margin-top: 10px;
	max-width: 100%;
	min-width: 100%;
}
#restaurants-list li h2 {
	color: black;
	font-family: Arial,sans-serif;
	font-size: 21pt;
	font-weight: 200;
	letter-spacing: 0;
	line-height: 1.3;
	margin: 20px 0 10px;
	text-transform: uppercase;
}
#restaurants-list p {
	margin: 0;
	font-size: 11pt;
}
#restaurants-list li a {
	background-color: black;
	border-bottom: 3px solid black;
	color: #fff;
	display: inline-block;
	font-size: 10pt;
	margin: 15px 0 0;
	padding: 8px 30px 10px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 15px;
}
#reviews-list p, #restaurant-address {
	color: #80FFFF;
}

/* ====================== Restaurant Details ====================== */
.inside {
	display: block;
}
.inside header {
	position: relative;
	top: 0;
	width: 100%;
	z-index: 1000;
}
.inside #map-container {
	/* background: blue none repeat scroll 0 0; */
	height: 87%;
	position: relative;
	/* right: 0; */
	/* top: 80px; */
	max-width: 100%;
	display: block;
}
.inside #map {
	background-color: #ccc;
	height: 400px;
	max-width: 100%;
}
.inside #footer {
	bottom: 0;
	/* position: absolute; */
	max-width: 100%;
}
#restaurant-name {
	color: #80FFFF;
	font-family: Arial,sans-serif;
	font-size: 20pt;
	font-weight: 200;
	letter-spacing: 0;
	margin: 15px 0 30px;
	text-transform: uppercase;
	line-height: 1.1;
}
#restaurant-img {
	width: 100%;
}
#restaurant-address {
	font-size: 18pt;
	margin: 10px 0px;
}
#restaurant-cuisine {
	background-color: #333;
	color: #ddd;
	font-size: 21pt;
	font-weight: 300;
	letter-spacing: 10px;
	margin: 0 0 20px;
	padding: 2px 0;
	text-align: center;
	text-transform: uppercase;
	max-width: 100%;
}
#restaurant-container, #reviews-container {
	border-bottom: 1px solid #d9d9d9;
	border-top: 1px solid #fff;
	padding: 6px 17px 30px;
	max-width: 100%;
}
#reviews-container {
	padding: 30px 20px 80px;
	background: #800000
}
#reviews-container h2 {
	color: #80FFFF;
	font-size: 24pt;
	font-weight: 300;
	letter-spacing: -1px;
	padding-bottom: 1pt;
}
#reviews-list {
	margin: 0;
	background: #800000;
	padding: 0;
}
#reviews-list li {
	background-color: black;
	border: 2px solid #f3f3f3;
	display: block;
	list-style-type: none;
	margin: 0 0 30px;
	overflow: hidden;
	padding: 0 30px 20px;
	position: relative;
	width: 85%;
}
#reviews-list li p {
	margin: 0 0 10px;
}
#restaurant-hours td {
	color: #80FFFF;
}

/* ======== Breakpoints that help make page more reponsive ==========*/
@media screen and (max-width: 479px) {
	nav h1 a {
		font-size: 21pt;
		letter-spacing: 4px;
	}
}

@media screen and (min-width: 480px) and (max-width: 590px) {
	nav h1 a{
		font-size: 27pt;
	}
}


@media screen and (min-width: 972px) {
	.filter-options select {
		font-size: 13pt;
		width: 220px;
	}
	.filter-options label {
		font-size: 2em;
	}
	#restaurants-list {
		justify-content: space-between;
	}
	#restaurants-list li {
		padding: 0 10px 20px;
		margin: 21px;
		width: 251px;
		height: 402px;
	}
}

@media screen and (min-width: 1100px) {
	#restaurants-list li {
		width: 290px;
		height: 410px;
	}
}

@media screen and (min-width: 1260px) {
	.filter-options label {
		display: inline-block;
	}
	#restaurants-list {
		justify-content: space-around;
	}
	#restaurants-list li {
		margin: 10px;
		width: 271px;
		height: 400px;
	}
}

@media screen and (min-width: 1330px) {
	#restaurants-list li {
		margin: 18px;
	}
}

@media screen and (min-width: 1407px) {
	#restaurants-list li {
		margin: 27px;
	}
}

@media screen and (min-width: 1460px) {
	#restaurants-list li {
		margin: 35px;
	}
}
